<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/order-history.css">
  <title><%= title %></title>
</head>

<body>
  <div class="main-container">
    <%- include('partials/header') %>
    <div class="content">
      <h1><%= title %></h1>
      <% if (orderHistory.length > 0) { %>
        <ul class="order-list">
          <% orderHistory.forEach((order) => { %>
            <li>
              <h3>Order ID: <%= order._id %></h3>
              <p>Order Date: <%= order.orderDate.toLocaleDateString('en-GB') %></p>
            <table class="order-table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <% order.products.forEach((product) => { %>
                  <tr>
                    <td><%= product.name %></td>
                    <td><%= product.quantity %></td>
                    <td>$<%= product.price %></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
            <p class="total-amount">Total Amount: $<%= order.totalAmount.toFixed(2) %></p>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No order history found.</p>
      <% } %>
    </div>
    <%- include('partials/footer') %>
  </div>
</body>

</html>
