<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/products-info.css">
  <title>Product-info</title>
</head>

<body>
    <div class="main-container">
        <%- include('partials/header') %>
        <div class="content">
            <div data-id="<%=product._id%>" class="product-info" id="product-info">
                <h2><%= product.name %></h2>
                <p>Description: <%= product.description %></p>
                <p>Symbol: <%= product.symbol %></p>
                <p id="price" data-price="<%=product.price%>">Price: $<%= product.price %></p>
                <p id="change" data-change="<%=product.change%>">24/hr Change: <%= product.change %>%</p>
                <p id="volume" data-volume="<%=product.volume%>">Volume: $<%= product.volume %></p>
            </div>
            <div class="chart-container">
                    <canvas id="priceChart"></canvas>
                    <canvas id="changeChart"></canvas>
                    <canvas id="volumeChart"></canvas>
            </div>
        </div>
        <%- include('partials/footer') %>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/products-info.js"></script>
</body>

</html>
