<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/products-info.css">
  <title>Product-info</title>
</head>

<body>
  <div class="main-container">
    <%- include('partials/header') %>
    <div class="content">
      <div class="product-info">
        <h2><%= product.name %></h2>
        <p>Price: $<%= product.price %></p>
        <p>Description: $<%= product.description %></p>
        <a href="/products/<%= product._id %>"></a>
      </div>
      <canvas id="myChart"></canvas>
    </div>
    <%- include('partials/footer') %>
  </div>

  <script src="/js/products-info.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>
