<!-- products.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Products</title>
</head>
<body>
    <div class="main-container">
      <%- include ('partials/header') %>
    <div class="content">
        <div class="product-grid">
          <% products.forEach((product) => { %>
            <div class="product-item">
              <h2><%= product.name %></h2>
              <p><%= product.description %></p>
              <p>Price: $<%= product.price %></p>
              <input type="number"  id="add-quantity-<%= product._id %>" min="1" value="1">
              <button onclick="addToCart('<%= product._id %>')">Add to Cart</button>
              <a href="/product-info/<%= product._id %>">More Details</a>
            </div>
          <% }); %>
        </div>
    </div>
    <%- include('partials/footer') %>
  </div>
  <script src="/js/products.js"></script>
</body>

</html>
