<!-- products.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/products.css">
  <title>Products</title>
</head>
<body>
    <div class="main-container">
      <%- include ('partials/header') %>
    <div class="content">
      <div id="newcoin">
        <button id="addnew" onclick="addNewCoin()" >ADD NEW COIN</button>
        </div>
        <br>
        <div class="product-grid">
          <table id="product-table">
            <tr>
              <th>NAME</th>
              <th>description</th>
              <th>SYMBOL</th>
              <th>Price</th>
              <th>24H CHANGE </th>
              <th>24H VOLUME</th>
              <th>7D CHART</th>
            </tr>
            <% products.forEach((product) => { %>
              <tr>
                <td id="name-<%=product._id%>"><%= product.name %></td>
                <td id="description-<%=product._id%>"><%= product.description %></td>
                <td id="symbol-<%=product._id%>"><%= product.symbol %></td>
                <td id="price-<%=product._id%>"><%= product.price %></td>
                <td id="change-<%=product._id%>"><%= product.change %></td>
                <td id="volume-<%=product._id%>"><%= product.volume %></td>
                <td><img src="<%= product.chart %>" alt="7-day chart"></td>
                <td><input type="number"  id="add-quantity-<%= product._id %>" min="1" value="1">
                <img src="/img/plus.png" alt=""id ="add" onclick="addToCart('<%= product._id %>')">
                <a href="/product-info/<%= product._id %>"><img src="/img/info.png" alt="" id="info"></a>
                <img c src="/img/trash-can.png" alt="" id ="delete" onclick="deleteItem('<%= product._id %>')">
                <img src="/img/edit.png" alt=""id ="edit" onclick="editItem('<%= product._id %>')">
                  <button class="save-btn" id="save-<%=product._id%>" onclick="saveEditedItem('<%=product._id%>')">save</button>
              </td>
              </tr>
              <tr id="new-row" style="display: none;">
                <td><input type="text" id="new-name"></td>
                <td><input type="text" id="new-description"></td>
                <td><input type="text" id="new-symbol"></td>
                <td><input type="number" id="new-price" ></td>
                <td><input type="text" id="new-change"></td>
                <td><input type="text" id="new-volume"></td>
                <td></td>
                <td>
                  <button onclick="saveNewItem()">Save</button>
                </td>
              </tr>
            <% }); %>
          </table>
        </div>
    </div>
    <%- include('partials/footer') %>
  </div>
  <script src="/js/products.js"></script>
</body>
</html>

