<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Product-info</title>
</head>

<body>
    <div class="main-container">
        <%- include('partials/header') %>
        <div class="content">
            <div class="product-info">
                  <h2><%= product.name %></h2>
                  <p><%= product.description %></p>
                  <p>Price: $<%= product.price %></p>
            </div>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>

</html>
