<!-- products.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/products.css">
  <title>Products</title>
</head>
<body>
    <div class="main-container">
      <%- include ('partials/header') %>
    <div class="content">
      <div class="top-container">
          <input type="text" id="search-input" placeholder="Search products...">
        <div class="search-container">
          <label for="filter-select">Search By:</label>
          <select id="filter-select">
            <option value="name">Name</option>
            <option value="description">Description</option>
            <option value="symbol">Symbol</option>
          </select>
        </div>
        <div class="sort-container">
          <label for="sort-select">Sort by:</label>
          <select id="sort-select" onchange="sortProducts()">
            <option value="">Select</option>
            <option value="price">Price</option>
            <option value="change">Change</option>
            <option value="volume">Volume</option>
          </select>
        </div>
      </div>
       
      
      <div id="addModal">
        <p id="addModal-coin"></p> Has been added to your cart
      </div>
      <div id="error-modal">
        <button onclick="exitModal()">x</button>
        <p id="error-msg"></p>
      </div>


      <div id="images-container">
        <img onclick="selectImage('3coins.png')" src="/coin-img/3coins.png" alt="">
        <img onclick="selectImage('bitcoin-black.png')" src="/coin-img/bitcoin-black.png" alt="">
        <img onclick="selectImage('bitcoin-yellow.png')" src="/coin-img/bitcoin-yellow.png" alt="">
        <img onclick="selectImage('d.png')" src="/coin-img/d.png" alt="">
        <img onclick="selectImage('dollar.png')" src="/coin-img/dollar.png" alt="">
        <img onclick="selectImage('ethereum.png')" src="/coin-img/ethereum.png" alt="">
        <img onclick="selectImage('type1.png')" src="/coin-img/type1.png" alt="">
        <img onclick="selectImage('type2.png')" src="/coin-img/type2.png" alt="">
        <img onclick="selectImage('type3.png')" src="/coin-img/type3.png" alt="">
      </div>



      <% if (ifAdmin) { %>
        <div id="newcoin">
        <button id="addnew" onclick="addNewCoin()" >ADD NEW COIN</button>
        </div>
        <% } %>
      <div class="product-grid">
          <table id="product-table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>24/hr Change </th>
                <th>24/hr Volume</th>
                <th>Add/Info</th>
              </tr>
              <tr id="new-coin-row">
                <td>
                  <button onclick="showImages()">Choose Image</button><span class="chosen-img"></span>  
                </td>
                <td><input type="text" placeholder="Insert new name" required id="new-name"></td>
                <td><input type="text" placeholder="Insert new description" required id="new-description"></td>
                <td><input type="text" placeholder="Insert new symbol" required id="new-symbol"></td>
                <td><input type="number" placeholder="Insert new price" required min="0" id="new-price"></td>
                <td><input type="number" placeholder="Insert 24/hr change" required  id="new-change"></td>
                <td><input type="number" placeholder="Insert 24/hr volume" required id="new-volume"></td>
                <td><button onclick="saveNewItem()">Save</button></td>
              </tr>
            
            </thead>
            <tbody>
              <% products.forEach((product) => { %>
                <tr>
                  <td id="img-<%=product._id%>" data-img="<%=product.img %>"><img src="/coin-img/<%= product.img %>" alt="coin-img"></td>
                  <td id="name-<%=product._id%>"><%= product.name %></td>
                  <td id="description-<%=product._id%>"><%= product.description %></td>
                  <td id="symbol-<%=product._id%>"><%= product.symbol %></td>
                  <td id="price-<%=product._id%>" data-price="<%=product.price %>" >$<%= product.price.toLocaleString() %></td>
                  <td data-change="<%=product.change %>" id="change-<%=product._id%>">
                    <% if (product.change < 0) { %>
                      <span style="color: red;"><%= product.change %>%</span>
                    <% } else { %>
                      <span style="color: greenyellow;">+<%= product.change %>%</span>
                    <% } %>
                  </td>
                  <td id="volume-<%=product._id%>" data-volume="<%=product.volume %>">$<%= parseInt(product.volume).toLocaleString() %></td>
                  <td><input type="number"  id="add-quantity-<%= product._id %>" min="1" value="1">
                    <img src="/img/plus.png" alt=""id ="add" onclick="addToCart('<%= product._id %>','<%= product.name %>')">
                    <a href="/product-info/<%= product._id %>"><img src="/img/info.png" alt="" id="info"></a>
                    <% if (ifAdmin) { %>
                    <img c src="/img/trash-can.png" alt="" id ="delete" onclick="deleteItem('<%= product._id %>')">
                    <img src="/img/edit.png" alt=""id ="edit" onclick="editItem('<%= product._id %>')">
                  <button class="save-btn" id="save-<%=product._id%>" onclick="saveEditedItem('<%=product._id%>')">save</button>
                    <% } %>
              </td>
                  </tr>
                  <% }); %>
                </tbody>
                </table>
        </div>
    </div>
    <%- include('partials/footer') %>
  </div>
  <script src="/js/products.js"></script>
</body>
</html>

